.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 40px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {

}

.navbar-inner {
    margin: -20px;
}

.navbar .btn-navbar {
    margin-top: 10px;
}

.navbar .brand {
    padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

.card_tb {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.card_tb .td2 {
    text-align: center;
    font-weight: normal;
}